
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media (min-width: 1500px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1460px;
    }
  }

  .app-container{
    .header-container{
      .btn-login, 
      .btn-signup {
        height: 40px;
        border-radius: 5px;
        margin-right: 10px;
        padding: 5px 15px;
        border: 1px solid #a2a2a2;
      }
      .btn-signup{
        background-color: rgb(60, 59, 59);
        color:white;

        &:hover{
        background-color: black;
        }
      }
      .navbar{
        z-index: 10;
        .nav-link-hover-color{
          color: red;
        }
        .nav-link{
          &.active{
            color: rgb(40, 108, 245);
          }
          &:hover {
            color: red;
          }
        }
        
      }
    }
    .homepage-content{
      padding: 100px;
      width: 50%;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .title-1{
        font-size: 50px;
        font-weight: bold;
      }
      .title-2{
        font-size: 25px;
      }
      .title-3{
        height: 40px;
        border-radius: 5px;
        margin-right: 10px;
        padding: 5px 15px;
        border: 1px solid #a2a2a2;

        &:hover{
          background-color: black;
          color:white
        }
      }
    }
  }

  video{
    position: fixed;
    bottom: 0;
    width: 100vw;
  }
}
// .container{
//   z-index: 10;
// }

